* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  min-height: 80vh;
}
.navbar {
  background-color: rgba(0, 0, 255, 0.813) !important;
}
.navbar-brand {
  color: white;
}

.btn1 {
  background-color: rgba(4, 4, 128, 0.363);
  color: white;
  padding: 7px;
  border-radius: 10px;
  outline: none;
}

.btn1:hover {
  background-color: white;
  color: black;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img {
  width: 100%;
  height: 80vh;
}

.main-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
/* .inner-div{
  display: flex;
  justify-content: space-between;
} */

/* transection page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0 0 5px gray;
}

/*transection page */

/*------antd icons-------*/
.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}

.switch-icons
{
  border: 1.4px solid black;
  border-radius: 6px;
  padding: 6px 8px;
  
}

/*------antd icons-------*/
